body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #000000;
}

.full-part {
  width: 100%;
  max-width: 1000px;
  margin: 100px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 20px;
}


.left {
  flex: 1;
  min-width: 300px;
}

.left h1 {
  color: #1877f2;
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 10px;
}

.left p {
  font-size: 24px;
  color: #ffffff;
}

.right {
  width: 400px;
  text-align: center;
}

.login-box {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.login-box input {
  width: 100%;
  padding: 14px;
  margin-bottom: 10px;
  border: 1px solid #dddfe2;
  border-radius: 6px;
  font-size: 17px;
}

.login-btn {
  width: 100%;
  padding: 14px;
  background-color: #1877f2;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}

.login-btn:hover {
  background-color: #166fe5;
}

.forgot {
  display: block;
  margin: 14px 0;
  color: #1877f2;
  text-decoration: none;
  font-size: 14px;
}

.forgot:hover {
  text-decoration: underline;
}

hr {
  border: none;
  height: 1px;
  background-color: #dadde1;
  margin: 20px 0;
}

.create-btn {
  background-color: #42b72a;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 14px 16px;
  font-size: 17px;
  font-weight: 700;
  cursor: pointer;
}

.create-btn:hover {
  background-color: #36a420;
}

.create-page {
  margin-top: 28px;
  font-size: 14px;
}

.create-page a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
}

.create-page a:hover {
  text-decoration: underline;
}


